In [1]:
import pandas as pd
import numpy as np
dir_envol = r'I:\Meganz\PMMG\MySql\10 - Tbl_dimensao\gdo\tbl_envolvidos.csv'#Home
#dir_envol = r'C:\Users\Geo\Documents\MEGAsync\MySql\10 - Tbl_dimensao\gdo\tbl_envolvidos.csv'#Office
df_envol = pd.read_csv(dir_envol, sep=";", encoding='utf8', low_memory =False)

In [5]:
df_envol.columns

Index(['NREDS', 'ORG_UN_REG', 'UN_AREA_MIL', 'UN_REGISTRO', 'COD_DIAO', 'T_C',
       'COD_DELITO', 'T_C_DELITO', 'GRAU_LESAO', 'TIPO_ENVOLVIMENTO',
       'GRUPO_TIPO_ENVOL', 'PRISAO_APREES', 'DATA_FATO', 'HORA',
       'DATA_ULT_ATT', 'LOG_TIPO', 'LOGRADOURO', 'LOGRADOURO_NAO_CAD',
       'LOGRADOURO_CRUZ', 'LOGRADOURO_CRUZ_NAO_CAD', 'N_LOG', 'BAIRRO',
       'BAIRRO_NAO_CAD', 'COMPLEMENTO_END', 'PONTO_REF', 'MUNICIPIO',
       'LATITUDE', 'LONGITUDE', 'NOME_ENVOL', 'DATA_NASC', 'SEXO', 'CUTIS',
       'IDADE', 'ESTADO_CIVIL', 'OCUPACAO', 'ESCOLARIDADE', 'LOGRADOURO_ENVOL',
       'BAIRRO_ENVOL', 'TIPO_LOG_ENVOL', 'MUNICIPIO_ENVOL', 'QTDE_ENVOL'],
      dtype='object')

In [2]:
df_envol = df_envol.rename(columns={    'Número REDS' : 'NREDS', 
                                        'Órgão Unidade Registro' : 'ORG_UN_REG', 
                                        'Unidade Área Militar' : 'UN_AREA_MIL', 
                                        'Unid Registro Nível 6' : 'UN_REGISTRO', 
                                        'Código Subclasse Nat Principal' : 'COD_DIAO', 
                                        'Tentado/Consumado Nat Principal' : 'T_C', 
                                        'Código Subclasse Natureza' : 'COD_DELITO', 
                                        'Tentado/Consumado' : 'T_C_DELITO',
                                        'Grau Lesão' : 'GRAU_LESAO', 
                                        'Tipo Envolvimento' : 'TIPO_ENVOLVIMENTO', 
                                        'Grupo Tipo Envolvimento' : 'GRUPO_TIPO_ENVOL', 
                                        'Prisão / Apreensão' : 'PRISAO_APREES', 
                                        'Data Fato' :  'DATA_FATO', 
                                        'Horário Fato' : 'HORA', 
                                        'Data Última Atualização' :  'DATA_ULT_ATT', 
                                        'Logradouro Ocorrência - Tipo' : 'LOG_TIPO', 
                                        'Logradouro Ocorrência' : 'LOGRADOURO', 
                                        'Logradouro Ocorrência Não Cadastrado' : 'LOGRADOURO_NAO_CAD', 
                                        'Logradouro Cruzamento' : 'LOGRADOURO_CRUZ', 
                                        'Logradouro Cruzamento Não Cadastrado' : 'LOGRADOURO_CRUZ_NAO_CAD', 
                                        'Número Logradouro' : 'N_LOG', 
                                        'Bairro' : 'BAIRRO', 
                                        'Bairro Não Cadastrado' : 'BAIRRO_NAO_CAD', 
                                        'Complemento Endereço' : 'COMPLEMENTO_END', 
                                        'Ponto de Referência' : 'PONTO_REF', 
                                        'Município' : 'MUNICIPIO', 
                                        'Latitude' :  'LATITUDE',  
                                        'Longitude' :  'LONGITUDE', 
                                        'Nome Envolvido' : 'NOME_ENVOL', 
                                        'Data Nascimento' : 'DATA_NASC', 
                                        'Sexo' : 'SEXO', 
                                        'Cútis' : 'CUTIS', 
                                        'Idade Aparente' : 'IDADE', 
                                        'Estado Civil' : 'ESTADO_CIVIL', 
                                        'Ocupação Atual' : 'OCUPACAO', 
                                        'Escolaridade' : 'ESCOLARIDADE', 
                                        'Logradouro Envolvido' : 'LOGRADOURO_ENVOL', 
                                        'Bairro Envolvido' : 'BAIRRO_ENVOL', 
                                        'Tipo Logradouro Envolvido' : 'TIPO_LOG_ENVOL', 
                                        'Município Envolvido' : 'MUNICIPIO_ENVOL', 
                                        'Qtde Envolvidos' : 'QTDE_ENVOL', 

                              })

In [26]:

df_hom = df_envol[((df_envol['IDADE']>=0)&
          (df_envol['IDADE']<=1000))&
          (df_envol['ESTADO_CIVIL'].isin(['CASADO', 'SOLTEIRO', 'VIUVO']))
        
        ]

In [27]:
df_hom[['MUNICIPIO', 'QTDE_ENVOL']].groupby(['MUNICIPIO']).sum()

                        QTDE_ENVOL
MUNICIPIO
ABAETE                          89
ARAUJOS                         44
ARCOS                           46
BAMBUI                          73
BIQUINHAS                       16
BOM DESPACHO                   321
CAMACHO                         10
CARMO DO CAJURU                109
CEDRO DO ABAETE                  4
CLAUDIO                        198
CONCEICAO DO PARA               28
CORREGO DANTA                   26
CORREGO FUNDO                   14
DIVINOPOLIS                   1782
DORES DO INDAIA                 55
FORMIGA                        251
IGARATINGA                      48
IGUATAMA                        26
ITAPECERICA                    125
ITATIAIUCU                      41
ITAUNA                         610
JAPARAIBA                       16
LAGOA DA PRATA                 383
LEANDRO FERREIRA                15
LUZ                             98
MARAVILHAS                      19
MARTINHO CAMPOS                 86
MEDEIROS                         8
MOEMA                           45
MORADA NOVA DE MINAS            47
NOVA SERRANA                  1569
ONCA DO PITANGUI                 7
PAINEIRAS                        9
PAINS                            9
PAPAGAIOS                       64
PARA DE MINAS                  432
PEDRA DO INDAIA                 40
PEQUI                           11
PERDIGAO                       108
PIMENTA                         27
PITANGUI                       133
POMPEU                         161
QUARTEL GERAL                   12
SANTO ANTONIO DO MONTE         158
SAO GONCALO DO PARA             76
SAO JOSE DA VARGINHA            40
SAO SEBASTIAO DO OESTE          53
TAPIRAI                         19

In [62]:
#df_envol[df_envol.'Estado Civil'== 'SOLTEIRO'.'Idade Aparente'].max() 
#notação por ponto  vale  quando o nome do campo  não tem espaço
df_envol[df_envol['Estado Civil']== 'SOLTEIRO']['Idade Aparente'].max()

87.0

In [72]:
df_envol.shape

(12244, 41)

In [77]:
#df_crimes.filter(like ='Cód.').head()

df_envol[df_envol['Estado Civil'].isin(['SOLTEIRO'])]['Idade Aparente'].max()

87.0

In [95]:
df_envol[['Estado Civil', 'Idade Aparente']].groupby(['Estado Civil']).mean()

                              Idade Aparente
Estado Civil
CASADO                             43.885956
DIVORCIADO                         46.738636
ESTADO CIVIL - IGNORADO            33.022979
ESTADO CIVIL - NAO DECLARADO       35.805882
PREENCHIMENTO OPCIONAL             40.733333
SEPARADO JUDICIALMENTE             43.800000
SOLTEIRO                           25.591324
UNIAO ESTAVEL                      33.786575
VIUVO                              61.441441

In [115]:
df_envol[['Estado Civil', 'Escolaridade','Idade Aparente']].groupby(['Estado Civil', 'Escolaridade']).mean().round(1)

                                                                       Idade Aparente
Estado Civil            Escolaridade
CASADO                  ALFABETIZADO                                             45.8
                        ANALFABETO                                               52.1
                        ENSINO FUNDAMENTAL COMPLETO (8 ANOS ESTUDO)              43.0
                        ENSINO FUNDAMENTAL INCOMPLETO (8 ANOS ESTUDO)            48.2
                        ENSINO MEDIO COMPLETO (2º GRAU)                          40.4
                        ENSINO MEDIO INCOMPLETO ( 2º GRAU)                       37.9
                        ESCOLARIDADE - IGNORADA                                  45.0
                        OUTROS - ESCOLARIDADE                                    44.1
                        POS-GRADUACAO                                            44.3
                        SUPERIOR COMPLETO                                        40.7
                        SUPERIOR INCOMPLETO                                      37.2
DIVORCIADO              ALFABETIZADO                                             47.3
                        ANALFABETO                                               50.3
                        ENSINO FUNDAMENTAL COMPLETO (8 ANOS ESTUDO)              46.7
                        ENSINO FUNDAMENTAL INCOMPLETO (8 ANOS ESTUDO)            50.2
                        ENSINO MEDIO COMPLETO (2º GRAU)                          45.5
                        ENSINO MEDIO INCOMPLETO ( 2º GRAU)                       44.5
                        ESCOLARIDADE - IGNORADA                                  46.0
                        OUTROS - ESCOLARIDADE                                    37.6
                        POS-GRADUACAO                                            52.5
                        SUPERIOR COMPLETO                                        46.4
                        SUPERIOR INCOMPLETO                                      43.6
ESTADO CIVIL - IGNORADO ALFABETIZADO                                             35.0
                        ANALFABETO                                               22.5
                        ENSINO FUNDAMENTAL COMPLETO (8 ANOS ESTUDO)              46.6
                        ENSINO FUNDAMENTAL INCOMPLETO (8 ANOS ESTUDO)            25.2
                        ENSINO MEDIO COMPLETO (2º GRAU)                          37.0
                        ENSINO MEDIO INCOMPLETO ( 2º GRAU)                       36.9
                        ESCOLARIDADE - IGNORADA                                  32.4
                        OUTROS - ESCOLARIDADE                                    30.3
...                                                                               ...
SOLTEIRO                ENSINO MEDIO COMPLETO (2º GRAU)                          27.5
                        ENSINO MEDIO INCOMPLETO ( 2º GRAU)                       21.9
                        ESCOLARIDADE - IGNORADA                                  24.5
                        OUTROS - ESCOLARIDADE                                    21.1
                        POS-GRADUACAO                                            30.8
                        PREENCHIMENTO OPCIONAL                                   67.0
                        SUPERIOR COMPLETO                                        31.5
                        SUPERIOR INCOMPLETO                                      24.8
UNIAO ESTAVEL           ALFABETIZADO                                             35.6
                        ANALFABETO                                               45.3
                        ENSINO FUNDAMENTAL COMPLETO (8 ANOS ESTUDO)              31.9
                        ENSINO FUNDAMENTAL INCOMPLETO (8 ANOS ESTUDO)            34.8
                        ENSINO MEDIO COMPLETO (2º GRAU)                          31.7
                        ENSINO MEDIO INCOMPLETO ( 2º GRAU)                       31.2
                        ESCOLARIDADE - IGNORADA                                  32.9
                        OUTROS - ESCOLARIDADE                                    33.5
                        POS-GRADUACAO                                            42.5
                        SUPERIOR COMPLETO                                        36.4
                        SUPERIOR INCOMPLETO                                      33.4
VIUVO                   ALFABETIZADO                                             65.1
                        ANALFABETO                                               73.0
                        ENSINO FUNDAMENTAL COMPLETO (8 ANOS ESTUDO)              56.4
                        ENSINO FUNDAMENTAL INCOMPLETO (8 ANOS ESTUDO)            59.6
                        ENSINO MEDIO COMPLETO (2º GRAU)                          54.2
                        ENSINO MEDIO INCOMPLETO ( 2º GRAU)                       60.5
                        ESCOLARIDADE - IGNORADA                                  64.3
                        OUTROS - ESCOLARIDADE                                    63.0
                        POS-GRADUACAO                                            79.0
                        SUPERIOR COMPLETO                                        54.4
                        SUPERIOR INCOMPLETO                                      61.0

[90 rows x 1 columns]

In [149]:
colunas = ['Estado Civil', 'Idade Aparente']
df_envol[((df_envol['Idade Aparente']>=0)&
          (df_envol['Idade Aparente']<=1000))&
          (df_envol['Estado Civil'].isin(['CASADO', 'SOLTEIRO', 'VIUVO']))
        
        ][colunas].groupby(df_envol['Estado Civil']).mean().round(1)

              Idade Aparente
Estado Civil
CASADO                  43.9
SOLTEIRO                25.6
VIUVO                   61.4